<template>
  <a-layout-header style="background: #fff; padding: 0">
    <div class="header">
        <div class="search_event">
            <a-input-search placeholder="input search text" style="width: 400px;" @search="onSearch" class="input_search"/>
        </div>
        <div class="d-flex align-items-center">
            <font-awesome-icon icon="bell" class="mr-3 mr-3" style="font-size:17pt"/>
            <a-button type="dashed" block class="profile d-flex align-items-center btn-profile">
                <font-awesome-icon icon="user-circle"/>
                <span>Duy Thảo</span>
            </a-button>
        </div>
    </div>
</a-layout-header>
</template>

<script>
export default {

}
</script>

<style scoped>
.header {
    margin: 0 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search_event span input{
  padding: 30px;
}
.btn-profile {
    padding: 20px;
}
.btn-profile span{
    font-size: 12pt;
}
.btn-profile svg {
    font-size: 19pt;
    margin-right: 7px;
}
</style>