<template>
  <a-layout id="components-layout-demo-side" style="min-height: 100vh">
    <SideBarAdmin/>
    <a-layout>
      <HeaderAdmin/>
      <a-layout-content style="margin: 0 16px">
        <a-breadcrumb style="margin: 16px 0">
          <a-breadcrumb-item>User</a-breadcrumb-item>
          <a-breadcrumb-item>Bill</a-breadcrumb-item>
        </a-breadcrumb>
        <div :style="{ padding: '24px', background: '#fff', minHeight: '460px' }">
          <slot></slot>
        </div>
      </a-layout-content>
      <FooterAdmin/>
    </a-layout>
  </a-layout>
</template>
<script>
import SideBarAdmin from "../../components/admin/SideBarAdmin"
import HeaderAdmin from "../../components/admin/HeaderAdmin"
import FooterAdmin from "../../components/admin/FooterAdmin"
export default {
components:{
    SideBarAdmin,HeaderAdmin,FooterAdmin
},
  data() {
    return {
     
    };
  },
};
</script>

<style>
#components-layout-demo-side .logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px;
}
</style>