<template>
  <div>
    <div class="tittle">
      <h4 class="text-center">Quản lý loại sự kiện</h4>
    </div>
    <a-form
      :form="form"
      :label-col="{ span: 5 }"
      :wrapper-col="{ span: 12 }"
      @submit="handleSubmit"
    >

       <a-form-item label="Tên loại sự kiện">
        <a-input
          v-decorator="[
            'sk',
            { rules: [{ required: true, message: 'Please input your note!' }] },
          ]"
        />
        
      </a-form-item>
      <a-form-item :wrapper-col="{ span: 12, offset: 5 }">
        <a-button type="primary" html-type="submit"> Submit </a-button>
      </a-form-item>
    </a-form>
  </div>
</template>

<script>
export default {
  name: "EventsCategory",
};
</script>

<style>
</style>