<template>
  <div id="wrap_login">
    <div class="loginbox">
      <img src="../../assets/images_admin/avatar.png" class="avatar" />
      <h1>Login Here</h1>
      <form action="" method="POST">
        <p>Username</p>
        <input type="text" name="username" placeholder="Enter Username" v-model="Admin.username"/>
        <p>Password</p>
        <input
          type="password"
          name="password"
          placeholder="Enter Password"
          style="margin-bottom: 10px"
          v-model="Admin.password"
        />
        <a href="#" style="margin-bottom: 20px">Lost your password?</a><br />
        <input
          type="submit"
          name="btn_login"
          value="Login"
          style="margin-top: 20px"
        />
        <div style="text-align: center">
          <span style="font-size: 11pt"
            >Don't have an account?
            <a href="" style="font-size: 12pt; color: orange; margin-left: 5px"
              >Signup now</a
            >
          </span>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
export default {
    name:'Loign',
    data(){
        return {
            Admin:{
                username:null,
                password:null
            }
        }
    }
};
</script>

<style>
#wrap_login {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: url("../../assets/images_admin/backg.jpg");
  background-size: cover;
  background-position: center;
  font-family: sans-serif;
}

.loginbox {
  width: 320px;
  height: auto;
  background: #000;
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 60px 30px 5px;
}

.loginbox .avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
}

.loginbox h1 {
  margin: 0;
  padding: 0 0 10px;
  text-align: center;
  font-size: 22px;
}
.loginbox #notification {
  text-align: center;
  padding: 2px 0;
  background: rgb(219, 148, 82);
  border-radius: 5px;
  margin: 0 50px 5px;
}
.loginbox .notifi {
  font-size: 10pt;
  color: orange;
  margin-left: 10px;
}
.loginbox #notification span {
  font-size: 10pt;
  font-weight: bold;
}
.loginbox p {
  margin: 0;
  padding: 0;
  font-weight: bold;
}

.loginbox input {
  width: 100%;
  margin-bottom: 20px;
}

.loginbox input[type="text"],
input[type="password"] {
  border: none;
  border-bottom: 1px solid #fff;
  background: transparent;
  outline: none;
  height: 40px;
  color: #fff;
  font-size: 16px;
}
.loginbox input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  background: #fb2525;
  color: #fff;
  font-size: 18px;
  border-radius: 20px;
}
.loginbox input[type="submit"]:hover {
  cursor: pointer;
  background: #ffc107;
  color: #000;
}
.loginbox a {
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: darkgrey;
}

.loginbox a:hover {
  color: #ffc107;
}
</style>