<template>
  <div>
 
      Helllo Bạn <font-awesome-icon icon="coffee"/>
      <div class="content">
          <slot></slot>
      </div>
  </div>
</template>

<script>

export default {
    components:{
      
    }
}
</script>

<style>

</style>